asyncio==3.4.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
geojson==2.5.0
idna==2.10
loguru==0.5.3
PyAudio==0.2.11
pycparser==2.20
pygame==2.0.1
pyowm==3.2.0
PySocks==1.7.1
requests==2.25.1
SpeechRecognition==3.8.1
urllib3==1.26.4
vosk==0.3.27
win32-setctime==1.0.3
